
 /* хлебные крошки */
.breadcrumbs {
    display: flex;
    flex-direction: column;
}
/* заголовок */
.breadcrumbs__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin:5px 0 0 0;
}
.breadcrumbs__list {
    display: flex;
    align-items: baseline;
    padding: 0;
    max-width: 127px;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 32px;
}
.breadcrumbs__list-item:not(:last-child)::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #1E0606;
    border-right: 2px solid #1E0606;
    transform: rotate(45deg);
    width: 7px;
    height: 7px;
    margin:0 0 1px 14px;
}
/* текст */
.breadcrumbs__list-text,
.breadcrumbs__list-link {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}

/* прозрачность */
.breadcrumbs__list-text {
    opacity: 50%;
    letter-spacing: 0.3px;
    font-size: 19px;
}

/* содержимое */
.blog {
    display: flex;
    flex-direction: column;
}
.blog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}
.blog__title {
    opacity: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.blog__list-item {
    display: flex;
    flex-direction: column;
    max-width: 380px;
}
.blog__list-date {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #818181;
    margin-top: 22px;
}

.blog__list_desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1E0606;
    margin-top: -8px;
    line-height: 31px;
}
.blog__list-title {
    letter-spacing:0.26px;
}
.blog__list_desc:hover {
    text-decoration:underline;
    text-decoration-color: #807878;
}
.blog__list_desc:active {
    text-decoration:underline;
    text-decoration-color: #807878;
}
.blog__list-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 16px;
    margin-bottom: 34.5px;
    letter-spacing: 0.07px;
}


/* переключатели */
.blog__click {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
    margin-bottom: 41px;
    align-items: center;
    margin-top: -14px;
}
.blog__click-control {
    position: relative;
    display: inline-flex;
    width: 37px;
    height: 37px;
    padding: 0;
    margin-top: 21.5px;
    margin-right: 5px;
}
.blog__click-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: inline-flex;
    padding: 0;
}
.blog__click-arrowLeft {
    border-top: 4px solid #1E06061F;
    border-left: 4px solid #1E06061F;
    transform: rotate(-45deg);
    margin: -4px 0 0 5px;
}
.blog__click-arrowRight {
    border-top: 4px solid #1E06061F;
    border-right: 4px solid #1E06061F;
    transform: rotate(45deg);
    margin: -4px 0 0 17px;
}
.blog__click-arrowLeft:hover,
.blog__click-arrowRight:hover {
    background-color: transparent;
}
.blog__click-arrowLeft:hover {
    border-top: 4px solid #C29974;
    border-left: 4px solid #C29974;
    transform: rotate(-45deg);
}
.blog__click-arrowRight:hover {
    border-top: 4px solid #C29974;
    border-right: 4px solid #C29974;
    transform: rotate(45deg);
    margin-left: 16px;
}
.blog__click-arrowLeft:active,
.blog__click-arrowRight:active {
    background-color: transparent;
    opacity: 0.7;
}
.blog__click-arrowLeft:active {
    border-top: 4px solid #C29974;
    border-left: 4px solid #C29974;
    transform: rotate(-45deg);
}

.blog__click-arrowRight:active {
    border-top: 4px solid #C29974;
    border-right: 4px solid #C29974;
    transform: rotate(45deg);
    margin-left: 16px;
}

.blog__click-numbers {
    display:flex;
    justify-content: space-between;
    min-width: 234px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}
.blog__click-number:hover {
    color:#AAAAAA ;
}
.blog__click-one {
    color: #C29974;
}
