
.container {
    max-width: 1180px;
    text-decoration: none;
    font-family:'Open Sans', sans-serif;
}

/* HEADER */
.header {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.header__nav-list {display: flex;}
.header__list {display: flex;}
.header__list-form {display: flex;}

/* отступы */
.header__nav-item:not(:last-child) {
    margin-right: 20.02px;
}
.header__list-item:not(:last-child) {
    margin-right: 23.48px;
}
.header__nav {margin-right: auto;}

/* убрал точки */
li {list-style-type: none;}
/* убрал подчёркивание */
a {text-decoration: none;}

/* прозрачность при фокусе и клике */
.header__logo :hover {opacity: 0.6;}
.header__nav-item :hover {opacity: 0.6;}
.header__list-item :hover {opacity: 0.6;}
.header__logo :active {opacity: 0.2;}
.header__nav-item :active {opacity: 0.2;}
.header__list-item :active {opacity: 0.2;}

/* цвет */
.header__nav-link, .header__list-link {color: #1E0606;}

/* индивидуально для правого блока */
.header__list-item {
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



/* FOOTER */

.footer {
    display: flex;
    background-color: #434343;
    padding: 100px 110px;
    font-size: 16px;
    flex-wrap: wrap;
}
.footer__info, .footer__subtitle-list, .footer__title-listfooter {
    display: flex;
    justify-content: space-between;
    min-width: 1180px;
}

/* заголовок */
.footer__title-listfooter {
    color: #AAAAAA;
    flex-wrap: nowrap;
    padding: 0 0;
}

/* текст */
.footer__info {box-sizing: border-box;}
.footer__info-link, .footer__subtitle-list {
    color: #fff;
    line-height: 2.3;
}
/* прозрачность при фокусе и клике */
.footer__info-item :hover,
.footer__info-link :hover {opacity: 0.6;}
.footer__info-item:active,
.footer__info-link :active {opacity: 0.2;}

/* именно для последнего подблока */
.only {color: #A2A2A2;}
.only :hover {
    color: #FFFFFF;
    text-decoration:underline;
}
.only :active {
    color: #FFFFFF;
    text-decoration:underline;
}

/* нижний блок */
.footer__subtitle-list {
    align-items: start;
    padding: 0;
}

/* размещение подблоков */
.footer__title-item,
.footer__info-logo,
.footer__info-aside,
.footer__info-list,
.footer__subtitle-item {
    width: 380px;
    padding: 0;
}

/* линейное построение + отступ логотипов */
.footer__info-icon {
    display: inline-flex;
    padding: 25px 5px;
}

/* ПОИСКОВИК */
.footer__info-input {
    background-color: #666666;
    border: none;
    color: #fff;
    padding: 9px 15px;
    width: 268px;
}
.footer__info-input :hover {
    padding: 1px 1px;
    border: 1px 1px;
    border-radius: 0%;
}

.footer__info-btn {
    background-color: #000000;
    color: #fff;
    margin-left: auto;
    border: none;
    padding: 9px 22px;
}

/* Звёздный Рейтинг */
.footer__subtitle-rating {
    margin: 0 0 16px 0;
    padding: 0;
    border: none;
}

.footer__subtitle-group {
    position: relative;
    align-items: center;
    width: 85px;
    height: 16px;
    /* margin: 0 150px; */
    background-image: url(../images/Category/Startwo.svg);
    background-size: 17px 16px;
}

.footer__subtitle-star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 16px;
    background-size: 17px 16px;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.footer__subtitle-star:focus {
    outline: none;
}
.footer__subtitle-star:checked,
.footer__subtitle-star:hover {
    background-image: url(../images/Category/Starone.svg);
}

.footer__subtitle-star:nth-of-type(1) {
    z-index: 5;
    width: 17px;
}
.footer__subtitle-star:nth-of-type(2) {
    z-index: 4;
    width: 34px;
}
.footer__subtitle-star:nth-of-type(3) {
    z-index: 3;
    width: 51px;
}
.footer__subtitle-star:nth-of-type(4) {
    z-index: 2;
    width: 68px;
}
.footer__subtitle-star:nth-of-type(5) {
    z-index: 1;
    width: 85px;
}
.footer__subtitle-ratingStar {
    color: #C29974;
}
.footer__subtitle-rating {display: inline;}
