.visually-hidden {
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    clip:rect(0 0 0 0);
    clip-path: inset(100%);
}
button {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10.5px 22px;
}
button:hover {background-color:#C29974;}

.services__div-img,
button:active {background-color:#CFAF91;}

button:disabled {background-color:#C7C1C1;}


/* убрал точки */
li {list-style-type: none;}
/* убрал подчёркивание */
a {text-decoration: none;}


.container {
    display: flex;
    max-width: 1180px;
    justify-content: center;
    margin: auto;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    margin: 49px auto;
}
.header__logo-img {
    margin-top: 1px;
}
.header__logo {
    margin: 0 -1px 4px;
}
.header__nav-list,
.header__list,
.header__list-form {
    display: flex;
}
.header__list-text,
.header__nav-text {
    letter-spacing: 0.3px;
}
/* отступы */
.header__nav-list {
    margin: -0.8px 0 6px 24px;
}
.header__nav-item:not(:last-child) {
    margin-right: 22.7px;
}
.header__list-item:not(:last-child) {
    margin-right: 23px;
}

.header__nav-item {
    margin-left:-2px;
}
.header__list-item {
    margin-bottom: 7px;
    word-spacing: 3px;
}
.header__nav {
    margin-right: auto;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
}

/* прозрачность при фокусе и клике */
.header__logo :hover {opacity: 0.6;}
.header__nav-item :hover {opacity: 0.6;}
.header__list-item :hover {opacity: 0.6;}
.header__logo :active {opacity: 0.2;}
.header__nav-item :active {opacity: 0.2;}
.header__list-item :active {opacity: 0.2;}

/* цвет */
.header__nav-link, .header__list-link {color: #1E0606;}

/* индивидуально для правого блока */
.header__list-item {
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* иконка */
.header__list-btn {
    border: none;
    padding: 9px 9px 8px 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/Header/xmlid.svg);
    margin-top: 0.5px;
}



/* FOOTER */
.container {
    max-width: 1180px;
    justify-content: center;
}
.footer {
    display: flex;
    background-color: #434343;
    padding: 70px 0;
    flex-direction: column;
    color: #fff;
}
.footer__subtitle-title {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.footer__section {
    display: flex;
    margin: auto;
    align-items: baseline;
    border-bottom: 1px solid #666666;
    padding-bottom: 4px;
}
.footer__section-aside,
.footer__section-items {
    padding: 0;
}
.footer__section-aside {
    margin: 0 20px;
}
.footer__section-items,
.footer__section-aside,
.footer__section-div {
    min-width: 380px;
}
/* заголовок */
.footer__section-title {
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #AAAAAA;
    padding-bottom: 25px;
    margin-bottom: 21px;
    border-bottom: 1px solid #666666;
}

/* текст */
.footer__section-link {
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 2.3;
}
/* прозрачность при фокусе и клике */
.footer__section-item :hover,
.footer__section-link :hover {opacity: 0.6;}
.footer__section-item:active,
.footer__section-link :active {opacity: 0.2;}

/* именно для последнего подблока */
.footer__subtitle-direct {color: #A2A2A2;}
.footer__subtitle-direct :hover {
    color: #FFFFFF;
    text-decoration:underline;
}
.footer__subtitle-direct :active {
    color: #FFFFFF;
    text-decoration:underline;
}

/* линейное построение + отступ логотипов */
.footer__section-icon {
    display: inline-flex;
    padding-right: 6px;
    padding-top: 9px;
}
.footer__section-logo {
    padding-left: 1px;
}

/* ПОИСКОВИК */
.footer__section-form {
    padding-top: 4px;
    min-width: 380px;
}
.footer__section-input {
    background-color: #666666;
    border: none;
    color: #fff;
    font-size: 15.4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.8px;
    padding: 9px 17px 9px 16px;
    width: 265px;
}
.footer__section-btn {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    padding: 11px 22.5px 10px 23px;
}
.footer__section-input :hover {
    padding: 1px 1px;
    border: 1px 1px;
    border-radius: 0%;
}
.footer__section-form {
    display: flex;
}
 /* Нижний блок */
.footer__subtitle-wrapper {
    display: flex;
    align-items: baseline;
    margin-left: -83px;
    margin-right: 158px;
}

.footer__subtitle-direct {
    margin-left: 110px;

}
.footer__subtitle {
    display: flex;
    margin-top: 10px;
    margin-bottom: 16px;
}

.footer__subtitle-signature {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Звёздный Рейтинг */

.footer__subtitle-rating {
    position: relative;
    font-size: 18px;
    display: flex;
    margin: 12px 0 0 27px;
}
.footer__subtitle-rating::before {
    content: "★ ★ ★ ★ ★";
    display: block;
}

.footer__subtitle-items {
    position: absolute;
    width: 106%;
    height: 100%;
    top: 0;
    left: 0px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.footer__subtitle-item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.footer__subtitle-label {
    flex-grow: 1;
    height: 100%;
    cursor: pointer;

}
.footer__subtitle-label::before {
    content: "★";
    display: block;
}
.subtitle__signature:hover,
.footer__subtitle-item,
.footer__subtitle-item:checked ~ .footer__subtitle-label {
    color: #C29974;
}

.footer__subtitle-label:hover,
.footer__subtitle-label:hover ~ .footer__subtitle-label,
.footer__subtitle-label:checked ~ .footer__subtitle-label:hover {
    color: #836E5B;
}
.footer__subtitle-wrapper:hover {
    color: #C29974;
}
