button:hover {background-color:#C29974;}

.services__div-img,
button:active {background-color:#CFAF91;}

button:disabled {background-color:#C7C1C1;}


/* убрал точки */
li {list-style-type: none;}
/* убрал подчёркивание */
a {text-decoration: none;}


.container {
    max-width: 1180px;
    justify-content: center;
    margin: auto;
}

.container {
    display: flex;
    max-width: 1180px;
    justify-content: center;
}
/* HEADER */
.header {
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.header__nav-list,
.header__list,
.header__list-form {
    display: flex;
}

/* отступы */
.header__nav-list {
    margin: -0.8px 0 6px 24px;
    font-size: 600;
}
.header__nav-item:not(:last-child) {
    margin-right: 22.5px;
}
.header__list-item:not(:last-child) {
    margin-right: 23.7px;
}

.header__nav-item {
    margin-left:-2px;
}
.header__list-item {
    margin-bottom: 6px;
    word-spacing: 3px;
}
.header__nav {
    margin-right: auto;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
}

/* прозрачность при фокусе и клике */
.header__logo :hover {opacity: 0.6;}
.header__nav-item :hover {opacity: 0.6;}
.header__list-item :hover {opacity: 0.6;}
.header__logo :active {opacity: 0.2;}
.header__nav-item :active {opacity: 0.2;}
.header__list-item :active {opacity: 0.2;}

/* цвет */
.header__nav-link, .header__list-link {color: #1E0606;}

/* индивидуально для правого блока */
.header__list-item {
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* иконка */
.header__list-btn {
    border: none;
    padding: 0;
    background-color: #fff;
    margin-top: 0.5px;
}



/* FOOTER */
.container {
    max-width: 1180px;
    justify-content: center;
}
.footer {
    display: flex;
    background-color: #434343;
    padding: 70px 0;
}
.block {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.header__logo {
    margin: 0 -1px 4px;
}
/* Полосы разделения блоков */
.footer__title-item {
    border-bottom: 1px solid #666666;
}
.footer__title-text {
    padding-bottom: 10px;
}
.footer__info{
    border-bottom: 1px solid #666666;
}
.footer__info {
    margin-top: -11px;
    padding-bottom: 5px;
}
.footer__info, 
.footer__subtitle-list, 
.footer__title-listfooter {
    display: flex;
    justify-content: space-between;
    min-width: 1180px;
}

/* заголовок */
.footer__title-listfooter {
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #AAAAAA;
    padding: 0 0;
}

/* текст */
. {box-sizing: border-box;}

.footer__info-link, .footer__subtitle-list {
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 2.3;
}
/* прозрачность при фокусе и клике */
.footer__info-item :hover,
.footer__info-link :hover {opacity: 0.6;}
.footer__info-item:active,
.footer__info-link :active {opacity: 0.2;}

/* именно для последнего подблока */
.footer__subtitle-direct {color: #A2A2A2;}
.footer__subtitle-direct :hover {
    color: #FFFFFF;
    text-decoration:underline;
}
.footer__subtitle-direct :active {
    color: #FFFFFF;
    text-decoration:underline;
}

/* нижний блок */
.footer__subtitle-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin-top: 0px;
}


/* размещение подблоков */
.footer__title-item,
.footer__info-logo,
.footer__info-aside,
.footer__info-list,
.footer__subtitle-item {
    min-width: 380px;
    padding: 0;
}

/* линейное построение + отступ логотипов */
.footer__info-icon {
    display: inline-flex;
    padding: 25px 2.6px;
}

/* ПОИСКОВИК */
.footer__info-form {
    margin-top: 3px;
    min-width: 380px;
}
.footer__info-input {
    background-color: #666666;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 22px;
    padding: 9px 17px 9px 16.5px;
    width: 265px;
}
.footer__info-input :hover {
    padding: 1px 1px;
    border: 1px 1px;
    border-radius: 0%;
}
.footer__info-form {
    display: flex;
}
.footer__info-btn {
    background-color: #000000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 9px 24px;
}

/* Звёздный Рейтинг */

.footer__subtitle-rating {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    border: none;
}

.footer__subtitle-group {
    position: relative;
    width: 85px;
    height: 16px;
    margin-left: 10px;
    background-image: url(../images/Category/Star.png);
    background-size: 17px 16px;
}

.footer__subtitle-star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 16px;
    margin-right: 5px;
    background-size: 17px 16px;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.footer__subtitle-star:focus {
    background-image:url(../images/Category/Star\ activ.png) ;
    outline: none;
}
.footer__subtitle-star:active,
.footer__subtitle-star:hover {
    background-image: url(../images/Category/Starone.svg);
}
.footer__subtitle-ratingStar:hover,
.footer__subtitle-ratingStar:active,
.footer__subtitle-ratingStar:focus {
    color:#C29974 ;
}
.footer__subtitle-star:nth-of-type(1) {
    z-index: 5;
    width: 17px;
}
.footer__subtitle-star:nth-of-type(2) {
    z-index: 4;
    width: 34px;
}
.footer__subtitle-star:nth-of-type(3) {
    z-index: 3;
    width: 51px;
}
.footer__subtitle-star:nth-of-type(4) {
    z-index: 2;
    width: 68px;
}
.footer__subtitle-star:nth-of-type(5) {
    z-index: 1;
    width: 85px;
}
.footer__subtitle-ratingStar {
    color: #fff;
}

