/* доступность */
.services__div-img,
button:hover {background-color:#C29974;}

.services__div-img,
button:active {background-color:#CFAF91;}

button:disabled {background-color:#C7C1C1;}


.main__slider-offer:focus {
    background-color:#C7C1C1;
}

p {font-family: 'Open Sans',sans-serif;}
h2 {font-family:'Montserrat', sans-serif;}


/* БАННЕР */
.main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    margin: 122px auto 90px;
    background-color: #EEE4DB;
}

.main__slider,
.main__slider-banner,
.main__slider-switchBtn,
.main__slider-offer,
.main__slider-switch {
    display: flex;
}

.main__slider-switch {
    flex-direction: column;
    padding: 18px 28px 0 28px;
}


/* число 01 */
.main__slider-number {
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: 200;
    color: #1E06060D;
    margin: 0;
}

/* кнопки для слайда */
.main__slider-switchBtn{
    border-bottom: 3px solid #D6CAC2;
    margin: 12.5px 0 -1.3px 3px;
    background-color: #EEE4DB;
    padding: 0 15px;
}
.main__slider-switchBtn:hover {
    border-color: #725F5B;
    background-color: transparent;
}
.main__slider-activ {
    border-color: #725F5B;
}


.main__slider-group {
    flex-direction: column;
    margin: 64px 17px;
    padding: 0;
}
      /* Заголовок */
.main__slider-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    width: 370px;
    line-height: 44px;
}
      /* <p-> Designed in Slovenia */
.main__slider-phrase {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20.2px;
    letter-spacing: 0.07px;
    margin: -9px auto;
}

.main__slider-btn,
.main__slider-offer {
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
}
  /* кнопка */
.main__slider-btn {
    font-size: 16px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10.5px 22px;
    border: none;
    margin: 31px 0 2px 0.5px;
}
   /* МОНСТР */
.main__slider-img {
    position: absolute;
    height: 461px;
    width: 635.5px;
    left: 445px;
    top: -90px;
    border-radius: 0px;

}
   /* Подзаголовок снизу */
.main__slider-offer {
    justify-content: center;
    background-color: #C29974;
    color: #FFFFFF;
    font-size: 12px;
    padding: 13px 0;
    margin: 23px 0 0 0;
}

/* Категории (второй блок)*/

.services {
    display:flex;
    flex-direction: column;
    margin-top: -30px;
}
.services__title {
    display: flex;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 15px;
}
.services__list {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0;
}
.services__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 280px;
    height: 270px;
}

.services__list-link {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
    line-height: 32px;
    text-shadow: 0 0 40px #93030340;
    font-weight: 700;
}
.services__list-link:hover {
    text-decoration:underline;
}
.services__list-link:active {
    text-decoration:underline;
}
/* задний фон */
.services__list-apparel {
    background-color: #DBE4DB;
}
.services__list-holyday {
    background-color:#EADDD3 ;
}
.services__list-toys {
    background-color: #F8F2DA;
}
.services__list-accessories {
    background-color: #D5D4E1;
}
.services__list-link-holyday,
.services__list-link-apparel {
    max-width: 200px;
}


/* нижние переключатели */
.services__div {
    display: flex;
    margin-top: -1px;
}

.services__div-arrow {
    position: relative;
    display: inline-flex;
    width: 37px;
    height: 37px;
    padding: 0;
    margin-top: 20px;
    margin-right: 5px;
    background-color: #70BBDC33;
}
.arrow-left,
.arrow-right {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: inline-flex;
    padding: 0;
    margin: 7px 0 0 13px;
}
.arrow-left {
    border-top: 4px solid #1E0606;
    border-left: 4px solid #1E0606;
    transform: rotate(-45deg);

}
.arrow-right {
    border-top: 4px solid #1E0606;
    border-right: 4px solid #1E0606;
    transform: rotate(45deg);
    margin-left: 4px;
}
.arrow-left:hover,
.arrow-right:hover {
    background-color: transparent;
}
.arrow-left:hover {
    border-top: 4px solid #C29974;
    border-left: 4px solid #C29974;
    transform: rotate(-45deg);
}
.arrow-right:hover {
    border-top: 4px solid #C29974;
    border-right: 4px solid #C29974;
    transform: rotate(45deg);
    margin-left: 4px;
}
.arrow-left:active,
.arrow-right:active {
    background-color: transparent;
    opacity: 0.7;
}
.arrow-left:active {
    border-top: 4px solid #C29974;
    border-left: 4px solid #C29974;
    transform: rotate(-45deg);
}

.arrow-right:active {
    border-top: 4px solid #C29974;
    border-right: 4px solid #C29974;
    transform: rotate(45deg);
    margin-left: 4px;
}

.services__div-phrase {
    display: flex;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    line-height: 22px;
    max-width: 550px;
    margin-left: 17px;
}

/* 3й блок */
.page {
    display: flex;
    margin-top: 72px;
    justify-content: flex-start;
}


.page__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 480px;
    padding: 0 120px;
    margin-top: 16px;
}
.page__text-tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page__text-title {
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin: 17px 0px 0 2px;
}

.page__text-credit,
.page__text-guarantee,
.page__text-delivery {
    font-family: 'Crimson Text',sans-serif;
    font-style: italic;
    font-size: 25.7px;
    margin-top: 19px;
    line-height: 35px;
    color: #1E0606;
    font-weight: 400;
}


.page__text-link,
.page__text-aside {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
}
.page__text-guarantee {
    margin-top: -1px;
    margin-left: -21px;
}
.page__text-button {
    background-color: #fff;
}
.page__text-button:hover {
    background-color: #fff;
}
.page__text-button:active {
    background-color: #fff;
}
.page__text-delivery {
    font-weight: 700;
    font-style: italic;
    font-size: 25.5px;
    background-color: #70BBDC33;
    max-width: 85px;
    font-weight: 700;
    padding: 10px 265px 10px 60px;
    margin: 8.5px 0 0 -60px;
}
.page__text-delivery:hover {
    font-weight: 700;
    font-style: italic;
    font-size: 25.5px;
    background-color: #70BBDC33;
    max-width: 85px;
    font-weight: 700;
    padding: 10px 180px 10px 60px;
    margin: 8.5px 0 0 -60px;
}
.page__text-delivery:active {
    font-weight: 700;
    font-style: italic;
    font-size: 25.5px;
    background-color: #70BBDC33;
    max-width: 85px;
    font-weight: 700;
    padding: 10px 180px 10px 60px;
    margin: 8.5px 0 0 -60px;
}
.page__text-credit {
    font-size: 26px;
    margin-bottom: 22px;
    letter-spacing: 0.2px;
    margin-top: -1px;
    margin-left: -21px;
}
.page__text-aside {
    font-size: 16px;
    line-height: 22px;
    min-width: 480px;
    margin-top: 8px;
    word-spacing: 0.15px;
}
.page__text-two {
    margin-top: -1.5px;
    white-space: break-spaces;
}
.page__text-subtitle {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    display: inline;
    background-color: #000000;
    color: #FFFFFF;
    padding: 9px 22.5px;
}
.page__text-link {
    margin-top: 5px;
}
.page__text-list {
    margin-top: -12px;
    margin-left: -40px;
}

/* Логотипы */
.social {
    display: flex;
    margin-top: 75px;
}
.social-title {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.social__list {
    display: flex;
    align-items: center;
    padding: 0;
}
.social__list-item:not(:last-child) {
    margin-right: 127px;
}

/* Контакты */
.contacts {
    display: flex;
    justify-content: space-around;
    margin: 97px auto 154px;
}
 /* блоки */
.contacts__aside,
.contacts__promo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E1F0F7;
    min-width: 483px;
    padding: 0 30px;
}

 /* заголовок блока */
.contacts__promo-title,
.contacts__aside-title {
    font-weight: 700;
    font-size: 38px;   
}
/* подзаголовок 1го блока */
.contacts__promo-text-contacts {
    font-family: 'Crimson Text',sans-serif;
    font-style: italic;
    font-size: 26px;
}
/* текст внутри блока */
.contacts__promo-text,
.contacts__aside-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    max-width: 471.2px;
    line-height: 22px;
}
.contacts__promo {
    padding-bottom: 38px;
    margin-right: 57px;
}
.contacts__aside {
    margin-bottom: 21px;
    margin-right: 38px;
}
/* ссылка */
.contacts__promo-subtitle {
    display: inline;
    font-size: 15px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10.5px 22px;
}
.contacts__promo-link {
    margin: 2px 0 0 1px;
}
.page__list-subtitle:hover {background-color:#C29974;}
.page__list-subtitle:active {background-color:#CFAF91;}
.page__list-subtitle:disabled {background-color:#C7C1C1;}
.contacts__promo-subtitle:hover {background-color:#C29974;}
.contacts__promo-subtitle:active {background-color:#CFAF91;}
.contacts__promo-subtitle:disabled {background-color:#C7C1C1;}
/* выравнивание содержимого */
.contacts__promo-title {margin: -25px  0;}
.contacts__aside-title {margin: -25px 0;}
.contacts__promo-text-contacts {margin: 37px 0 0 1px;}
.contacts__promo-text {
    padding-bottom: 15px;
    margin-top: 12px;
    word-spacing: 0.2px;
}
.contacts__aside-text {
    margin: 46.5px 2.5px 30px 0;
    word-spacing: 0.2px;
}
.contacts__aside-img {margin:0 2px -181px 0;}


/* Модальное окно */
.modalWindow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #7d97dacc;
}
.hidden {
    display: none;

}
.modalWindow__form {
    position: fixed;
    top: 15%;
    left: 30%;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    min-height: 542px;
    z-index: 1;
    background: #E5EAF8;
}
.modalWindow__closeBtn {
    position: absolute;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/main/icon.svg);
    right: -25px;
    top: 0;
    padding: 10px;
}
.modalWindow__closeBtn:hover {
    position: absolute;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/main/iconActiv.svg);
    right: -25px;
    top: 0;
    padding: 10px;
}
.modalWindow__closeBtn:active {
    position: absolute;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/main/iconActiv.svg);
    right: -25px;
    top: 0;
    padding: 10px;
}
.modalWindow__form-inner {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.modalWindow__form-label {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    margin-bottom: 1px;
}

.modalWindow__form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}
.modalWindow__form-wrapperTwo {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
.modalWindow__form-wrap {
    display: flex;
    flex-direction: column;
    min-width: 290px;
}
.modalWindow__form-input {
    font-family: 'Open Sans';
    font-size: 18px;
    padding: 13.7px 20px;
    border-color:#00000033;
    border-width: 1px;
    margin-top: 3.5px;
}

 /* Textarea */
.modalWindow__form-textarea {
    font-family: 'Open Sans';
    font-size: 18px;
    border-color:#00000033;
    border-width: 1px;
    resize: none;
    margin-top: 3.5px;
}
.modalWindow__form-wrapperFree {
    margin-top: 21px;
}

.modalWindow__form-wrapperCheck {
    margin-top: 19.5px;
}

/* Чекбокс на соглашение */
.modalWindow__form-text {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modalWindow__form-checkbox {
    position: absolute;
    opacity: 0;
}
.modalWindow__form-span {
    position: absolute;
    top: -3px;
    left: 0;
    height: 19px;
    width: 19px;
    background-image: url(../images/toys/checkbox.svg);
}
.modalWindow__form-checkbox:checked + .modalWindow__form-span {
    background-image: url(../images/toys/checkboxActiv.svg);
}
/* кнопка */
.modalWindow__form-btn {
    background-color: #C1C1C1;
    max-width: 106px;
    margin: 20px 0 41px;
}