/* доступность */
.services__div-img,
button:hover {background-color:#C29974;}

.services__div-img,
button:active {background-color:#CFAF91;}

button:disabled {background-color:#C7C1C1;}



 /* хлебные крошки */
.breadcrumbs {
    display: flex;
    flex-direction: column;
}
/* заголовок */
.breadcrumbs__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin:5px 0 0 0;
}
.breadcrumbs__list {
    display: flex;
    align-items: baseline;
    padding: 0;
    max-width: 229px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 48.8px;
}
.breadcrumbs__list-item:not(:last-child)::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #1E0606;
    border-right: 2px solid #1E0606;
    transform: rotate(45deg);
    width: 7px;
    height: 7px;
    margin:0 0 1px 14px;
}
/* текст */
.breadcrumbs__list-text,
.breadcrumbs__list-link {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}
.breadcrumbs__list-text {
    letter-spacing: 0.6px;
}
/* прозрачность */
.breadcrumbs__list-text {
    opacity: 50%;
}

/* Форма */
.div {
    background-color: #7D97DA33;
}
.div__form {
    display: flex;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 28px 0 42px;
}
.div__form-text {font-weight: 700;}

    /* ползунок */
.div__form-slider {
    position: relative;
    width: 190px;
    height: 4px;
    margin: 22px 0 18px 4px;
    -webkit-appearance: none;
    background: #C29974;
    outline: none;
    border-radius: none;
}
.div__form-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #fff;
    border: 9px solid #C29974;
}
.div__form-slider:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #fff;
    border: 9px solid #C29974;
    margin-top: -10px;
}
.div__form-slider:hover::-webkit-slider-runnable-track {
    background: #000;
    margin-top: px;
    height: 4px;
}
.div__form-numbers {
    display: flex;
    justify-content: space-between;
    min-width: 207px;
    margin-right: 95px;
}


/* чекбокс на цвет */
.div__form-wrapper:not(:last-child) {
    margin-bottom: 18.5px;
}
.div__form-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 19px;
}
.div__form-checkbox {
    margin-right:-5px;
}
.div__form-label {
    position: relative;
    padding-left: 30px;
}

.div__form-label::after,
.div__form-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
}
.div__form-checkbox + .div__form-label::after {
    background-image: url(../images/toys/checkbox.svg);
}
.div__form-checkbox:checked + .div__form-label::before {
    background-image: url(../images/toys/checkboxActiv.svg);
}

/* радиокнопки */
.div__form-aside {
    display: flex;
    flex-direction: column;
    margin-left: 124px;
}
.div__form-text {
    margin-bottom: 5px;
    font-size: 16px;
}
.div__form-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div__form-caption {
    position: relative;
    padding: 14.5px 0 0 30px;
}

.div__form-caption::after, 
.div__form-caption::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
}
.div__form-radio + .div__form-caption::after {
    background-image: url(../images/toys/Ellipse.png);
}
.div__form-radio:checked + .div__form-caption::before {
    background-image: url(../images/toys/ellipse-active.png);
}

/* Блок с выбором */
.div__form-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.div__form-list {
    display: flex;
    padding: 10px;
    margin: 2px 60px 0 -10px;
    min-width: 240px;
}
.div__form-button {
    border: none;
    padding: 8px 19.5px;
    background-color: #fff;
}
.div__form-activ {
    padding: 8px 27px;
}
.div__form-button:hover {
    background-color: #EDDEEB;
}
.div__form-button:focus {
    background-color: #F3D0DB;
}
 /* Кнопка */
.div__form-pic {
    background-color: #000;
}
.div__form-btn {
    margin-top: 51px;
    margin-left: -10px;
}
/* содержимое */
.cards {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding-bottom:  50px 0;
}
.cards__list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.cards__list-item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cards__list-link {
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #1E0606;
    padding: 90px 13px;
    background-color: #E5EAF8;
    margin-bottom: 130px;
}
.cards__list-img {
    margin-bottom: 4.5px;
}
.cards__list-link {
    opacity: 0;
}
.cards__list-link:hover {
    opacity: 0.9;
}
.cards__list-link:active {
    opacity: 0.67;
}

.cards__list-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 27.5px;
    font-weight: 500;
    
}
.cards__list-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 5px 0 47px 0;
}
.cards__list-desc {
    margin-top: 4px;
}


/* переключатели */
.cards__click {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
    margin-bottom: 41px;
    align-items: center;
}
.cards__click-control {
    position: relative;
    display: inline-flex;
    width: 37px;
    height: 37px;
    padding: 0;
    margin-top: 20px;
    margin-right: 5px;
}
.cards__click-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: inline-flex;
    padding: 0;
}
.cards__click-arrowLeft {
    border-top: 4px solid #1E06061F;
    border-left: 4px solid #1E06061F;
    transform: rotate(-45deg);
    margin: -4px 0 0 5px;
}
.cards__click-arrowRight {
    border-top: 4px solid #1E06061F;
    border-right: 4px solid #1E06061F;
    transform: rotate(45deg);
    margin: -4px 0 0 17px;
}
.cards__click-arrowLeft:hover,
.cards__click-arrowRight:hover {
    background-color: transparent;
}
.cards__click-arrowLeft:hover {
    border-top: 4px solid #C29974;
    border-left: 4px solid #C29974;
    transform: rotate(-45deg);
}
.cards__click-arrowRight:hover {
    border-top: 4px solid #C29974;
    border-right: 4px solid #C29974;
    transform: rotate(45deg);
    margin-left: 16px;
}
.cards__click-arrowLeft:active,
.cards__click-arrowRight:active {
    background-color: transparent;
    opacity: 0.7;
}
.cards__click-arrowLeft:active {
    border-top: 4px solid #C29974;
    border-left: 4px solid #C29974;
    transform: rotate(-45deg);
}

.cards__click-arrowRight:active {
    border-top: 4px solid #C29974;
    border-right: 4px solid #C29974;
    transform: rotate(45deg);
    margin-left: 16px;
}

.cards__click-numbers {
    display:flex;
    justify-content: space-between;
    min-width: 234px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}
.cards__click-number:hover {
    color:#AAAAAA ;
}
.cards__click-one {
    color: #C29974;
}

